/*navigation bar*/
nav ul{
    display: flex;
    justify-content: right;
    background-color: #040504;
    align-content: center;
    flex-wrap: wrap;
}
nav li{
    list-style-type: none;
    background-color: #333334;
    margin: 10px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
nav a:hover{
    color:palegoldenrod;
    background-color: #333334;
}
/*homepage*/
.wrapper{
    border: 1px solid #040504;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 1fr;
    min-height: 100vh;
}
.header{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: span 4;
    background-color: #040504;
}
.homepage{
    grid-row: 2/3;
    object-fit: cover;
    overflow: hidden;
}
.homepage > .container{
    position: relative;
    text-align: center;
    grid-row: 2/3;
    max-height: 100%;
}
.container > img{
    display: grid;
    object-fit: cover;
    width: 100%;
    max-height: 100vh;
    min-height: 80vh;
    display: grid;
    justify-content: center;
    align-content: center;
}
.bottom-right{
    position: absolute;
    bottom: 10vh;
    right: 0;
    background-color: #333334;
    color: white;
    padding: 5px;
    border: 1px solid#040504;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333334;
    border: 1px solid#040504;
    color: white;
    padding: 15px;
    display: grid;
    justify-content: center;
    align-content: center;
}
body{
    margin: 0;
    background-color: cyan;
}
footer{
    background-color: #040504;
    margin: 0;
    padding: 15px;
    color: white;
    grid-row: 3/4;
    grid-column: span 4;
    display: grid;
    align-content: center;
    justify-content: center;
    border: 1px solid #040504;
}
/*About Me*/
.aboutme{
    background-color: #b0b0b6;
    border: 1px solid #040504;
    display: grid;
    grid-template-rows: 10vh 10vh 1fr;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}
.abheading{
    grid-row: 2/3;
    grid-column: span 4;
    display: grid;
    justify-content: center;
    align-content: center;
}
.test{
    color: white;
    grid-row: 3/4;
    grid-column: 3/4;
    background-color: #333334;
    margin-right: 10vh;
    margin-left: 5vh;
    margin-bottom: 10vh;
    padding: 15px;
}
.headshot{
    grid-row: 3/4;
    grid-column: 1/2;
    object-fit: cover;
    margin-left: 10vh;
    margin-right: 5vh;
    margin-bottom: 10vh;
    border: 1px solid #333334;
}
.aboutme > footer{
    background-color: #040504;
    margin: 0;
    padding: 15px;
    color: white;
    grid-row: 4/5;
    grid-column: 1/4;
    display: grid;
    align-content: center;
    justify-content: center;
    border: 1px solid #333334;
}
/*Contact Me*/
.contactme{
    border: 1px solid #040504;
    display: grid;
    grid-template-rows: 10vh 30vh 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 100vh;
}
.contactstitle{
    color: white;
    background-color: #333334;
    grid-row: 2/3;
    grid-column: 1/4;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
}
.linkedin{
    grid-row: 3/4;
    grid-column: 1/2;
    display: grid;
    align-content: center;
    justify-content: center;
}
.handshake{
    grid-row: 3/4;
    grid-column: 2/3;
    display: grid;
    align-content: center;
    justify-content: center;
}
.github{
    grid-row: 3/4;
    grid-column: 3/4;
    display: grid;
    align-content: center;
    justify-content: center;
}
.contactme > footer{
    background-color: #040504;
    margin: 0;
    padding: 15px;
    color: white;
    grid-row: 4/5;
    grid-column: span 4;
    display: grid;
    align-content: center;
    justify-content: center;
    border: 1px solid #333334;
}
/*Resume*/
.resume{
    background-color: #b0b0b6;
    border: 1px solid #040504;
    display: grid;
    grid-template-rows: 10vh 20vh 1fr 2fr 1fr 10vh;
    grid-template-columns: 1fr 1fr;
}
.resume> .rheading{
    grid-row: 2/3;
    grid-column: 1/3;
    background-color: #333334;
    color: white;
    display: grid;
    align-content: center;
    justify-content: center;
    margin-left: 5rem;
    padding-left: 5rem;
    margin-right: 5rem;
    padding-right: 5rem;
}
.education{
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: #333334;
    color: white;
    margin-left: 5rem;
    padding-left: 5rem;
    padding-right: 2rem;
}
.work{
    grid-row: 4/5;
    grid-column: 1/2;
    background-color: #333334;
    color: white;
    margin-left: 5rem;
    padding-left: 5rem;
    padding-right: 2rem;
}
.skills{
    background-color: #333334;
    color: white;
    grid-row: 5/6;
    grid-column: 1/2;
    margin-left: 5rem;
    padding-left: 5rem;
    padding-right: 1rem;
}
.awards{
    background-color: #333334;
    color: white;
    grid-row: 5/6;
    grid-column: 2/3;
    margin-right: 5rem;
    padding-right: 5rem;
    padding-right: 2rem;
}
.resume > footer{
    grid-row: 6/7;
    grid-column: 1/3;
}